# Ignore cache & checkpoints
cache/
notebooks/cache/
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
ENV/

# Ignore Jupyter Notebook metadata
*.ipynb_checkpoints
